.banner{
    background-color: #ffffff;
    margin-top: auto;
}

.footer{
    background-color: #1f2937;
    margin-bottom: 0;
    position:fixed;
    bottom:0;
    width:100%;
    z-index: 1000;
    height: 4rem;
}
main {
    z-index: 1;
}
.header{
    background-color:  #1f2937;
    margin-top: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color:  #ffffff;
}
.home{
    color:  #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem;
}
.map{
    color:  #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 1rem;
}
.container.navigation{
    display: flex;
    gap: 3rem;
}
.footer-text{
    color: #ffffff;
    transition: all 0.3s ease;
    text-align: left;
}
.container {
    width: calc(100% - 2rem);
    max-width: 1400px;
    margin: 0 auto;
}
.container .container {
    width: 100%;
}
.header .container,
.footer .container {
    padding: 1rem 0;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
